<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Black+Ops+One&family=Cabin:wght@500&family=Cormorant:wght@700&family=El+Messiri:wght@500;700&family=Fira+Sans:wght@200&family=Gruppo&family=Heebo&family=IBM+Plex+Serif:ital,wght@1,100&family=Jost:wght@200&family=Julius+Sans+One&family=Lato:wght@300&family=Marcellus&family=Maven+Pro&family=Nanum+Myeongjo:wght@800&family=Noto+Sans+Glagolitic&family=Noto+Sans+JP:wght@500&family=Noto+Sans+TC&family=PT+Serif&family=Philosopher&family=Playfair+Display:wght@400;500&family=Poppins&family=Raleway:wght@400;500&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&family=Rubik&family=Secular+One&family=Tangerine:wght@400;700&family=Volkhov&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>