<div class="content">
    <div class="frame">
        <img src="/assets/logos/stack-overflow.png" alt="stackoverflow-Logo" class="stack-logo">
        <div class="google"><img src="/assets/logos/google.png" class="sign-logos sign-google">Login in with Google</div>
        <div class="github"><img src="/assets/logos/github.png" class="sign-logos sign-github">Login in with GitHub</div>
        <div class="facebook"><img src="/assets/logos/facebook.png" class="sign-logos sign-facebook">Log in with Facebook</div>
        <div class="sub-frame">
            <form action="/user/login" method="post">
                <label for="email">Email</label>
                <input type="text" name="email">
                <br>
                <label for="Password">Password <span class="forget-pass"><a href="#">Forgot password ?</a></span></label>
                <input type="password" name="password">
                <br>
                <input type="submit" value="Log in" class="login-btn">
            </form>
        </div>
        <p class="account-haveornot">Don't have an account?<a href="/user/signup">Sign up</a></p>
        <p class="employer-ornot">Are you an employer?<a href="#">Sign up on Talent</a></p>
    </div>
</div>