<div class="content">
    <div class="frame">
        <p class="signup-tip">Create your Stack Overflow account. It’s free and only takes a minute.</p>
        <div class="google"><img src="/assets/logos/google.png" class="sign-logos sign-google">Login in with Google</div>
        <div class="github"><img src="/assets/logos/github.png" class="sign-logos sign-github">Login in with GitHub</div>
        <div class="facebook"><img src="/assets/logos/facebook.png" class="sign-logos sign-facebook">Log in with Facebook</div>
        <div class="sub-frame">
            <form action="/login" method="post">
                <label for="displayname">Display name</label>
                <input type="text">
                <br>
                <label for="email">Email</label>
                <input type="text" name="email">
                <br>
                <label for="Password">Password</label>
                <input type="password" name="password">
                <br>
                <p class="password-hint">Passwords must contain at least eight characters, including at least 1 letter and 1 number.</p>
                <input type="button" value="Sign up" class="login-btn">
                <p class="terms-and-policy">By clicking “Sign up”, you agree to our <a href="">terms of service</a>and acknowledge that you have read and understand our <a href="">privacy policy</a>and code of conduct.</p>
            </form>
        </div>
        <p class="account-haveornot">Already have an account?<a href="/user/login">Log in</a></p>
        <p class="employer-ornot">Are you an employer?<a href="#">Sign up on Talent</a></p>
    </div>
</div>