<%- include('../include/head.ejs') %>
<div class="wrapper signup-wrapper">
    <%- include('../include/top-nav.ejs') %>
    <%- include('../include/signup-content-page.ejs') %>
</div>
<%- include('../include/end.ejs') %>