<%- include('../include/head.ejs') %>

<div class="wrapper user-home-wrapper">
   <%- include('../include/userHome/user-home-topnav.ejs') %>
   <%- include('../include/userHome/user-home-content.ejs') %>
</div>

<%- include('../include/end.ejs') %>
