<%- include('../../head.ejs') %>
  <div class="wrapper">
      <%- include('../user-home-topnav.ejs') %>
      <div class="comapanies-content">
        <%- include('../user-home-left.ejs') %>
      </div>
  </div>
<%- include('../../end.ejs') %>
