<div class="companies-right">
    <div class="company-div">Company</div>
    <div class="companies-list">
        <div class="company">
            <div class="company-left"><img src="/assets/logos/c1.png" class="company-img"></div>
            <div class="company-right">
                <div class="company-name">adjoe</div>
                <div class="company-location"><i class="bi bi-geo-alt-fill"></i><span class="comp-loc">Hamburg</span></div>
                <div class="company-prio">IOS</div>
            </div>
        </div>

        <!-- fsjovu -->
        <div class="companies-list">
            <div class="company">
                <div class="company-left"><img src="/assets/logos/c2.png" class="company-img"></div>
                <div class="company-right">
                    <div class="company-name">Cloudflight</div>
                    <div class="company-location"><i class="bi bi-geo-alt-fill"></i><span class="comp-loc">Hamburg</span></div>
                    <div class="company-prio">C++</div>
                </div>
            </div>
 
            <!-- odfugydiurf -->

            <div class="companies-list">
                <div class="company">
                    <div class="company-left"><img src="/assets/logos/c4.png" class="company-img"></div>
                    <div class="company-right">
                        <div class="company-name">Sartorius</div>
                        <div class="company-location"><i class="bi bi-geo-alt-fill"></i><span class="comp-loc">Hamburg</span></div>
                        <div class="company-prio">Java</div>
                    </div>
                </div>
        

    </div>
</div>