<div class="profile-right">
    <div class="profile-top">
        <div class="profile-left"><img src="/assets/users-pic/labio.jpg" alt="" class="user-pic"></div>
        <div class="profile-centre">
            <div class="user-name">Labeeb ct</div>
            <div class="user-status"><span class="green-dot">🟢</span>Active</div>
            <div class="user-started-date"><i class="bi bi-cake2-fill"></i>Member for 5 days</div>
        </div>
        <div class="profile-right">
           <div class="edit-btn-div"><button class="profile-edit-btn"><i class="bi bi-pencil-fill"></i>Edit Profile</button></div>
        </div>
    </div>

    <div class="profile-bottom">
         <div class="form-data">
            <label for="">Full Name</label>
            <input type="text" value="Labeeb" class="full-name" disabled>
            <br>
            <label for="">Email Address</label>
            <input type="text" value="ctlabeebthaliyil@gmail.com" class="email" disabled>
            <br>
            <label for="">Mobile Number</label>
            <input type="text" value="8590471630" class="mobile-number" disabled>
            <br>
            <label for="">Country</label>
            <input type="text" value="India" class="country" disabled>
            <br>
            <label for="">Skills</label>
            <input type="text" value="HTML , CSS , JAVASCRIPT , EXPRESS , MONGODB" class="skills" disabled>
         </div>
    </div>
</div>