<div class="questions-right">
      <div class="front-question-title">
        <div class="front-question-left">
          <div class="vote-div"><span class="vote-count">3</span>votes</div>
          <div class="answers-div"><span class="answer-count">0</span>answers</div>
          <div class="views-div"><span class="views-count">5</span>views</div>
        </div>
        <div class="front-question-centre">
          <a href="">What are the steps involved in determining type sizes within the data section of an mmdb file?</a>
        </div>
        <div class="front-question-right">
          <img src="/assets/users-pic/labio.jpg" class="front-quest-user-pic">
          <div class="front-quest-user-name">Labeeb</div>
          <div class="front-quest-asked-time">answered&nbsp;<span class="asked-time">2s</span> ago</div>
        </div>
  </div>
      <div class="front-question-title">
        <div class="front-question-left">
          <div class="vote-div"><span class="vote-count">3</span>votes</div>
          <div class="answers-div"><span class="answer-count">0</span>answers</div>
          <div class="views-div"><span class="views-count">5</span>views</div>
        </div>
        <div class="front-question-centre">
          <a href="">What are the steps involved in determining type sizes within the data section of an mmdb file?</a>
        </div>
        <div class="front-question-right">
          <img src="/assets/users-pic/labio.jpg" class="front-quest-user-pic">
          <div class="front-quest-user-name">Labeeb</div>
          <div class="front-quest-asked-time">answered&nbsp;<span class="asked-time">2s</span> ago</div>
        </div>
  </div>
      <div class="front-question-title">
        <div class="front-question-left">
          <div class="vote-div"><span class="vote-count">3</span>votes</div>
          <div class="answers-div"><span class="answer-count">0</span>answers</div>
          <div class="views-div"><span class="views-count">5</span>views</div>
        </div>
        <div class="front-question-centre">
          <a href="">What are the steps involved in determining type sizes within the data section of an mmdb file?</a>
        </div>
        <div class="front-question-right">
          <img src="/assets/users-pic/labio.jpg" class="front-quest-user-pic">
          <div class="front-quest-user-name">Labeeb</div>
          <div class="front-quest-asked-time">answered&nbsp;<span class="asked-time">2s</span> ago</div>
        </div>
  </div>
      <div class="front-question-title">
        <div class="front-question-left">
          <div class="vote-div"><span class="vote-count">3</span>votes</div>
          <div class="answers-div"><span class="answer-count">0</span>answers</div>
          <div class="views-div"><span class="views-count">5</span>views</div>
        </div>
        <div class="front-question-centre">
          <a href="">What are the steps involved in determining type sizes within the data section of an mmdb file?</a>
        </div>
        <div class="front-question-right">
          <img src="/assets/users-pic/labio.jpg" class="front-quest-user-pic">
          <div class="front-quest-user-name">Labeeb</div>
          <div class="front-quest-asked-time">answered&nbsp;<span class="asked-time">2s</span> ago</div>
        </div>
  </div>
</div>