<div class="saves-right">
    <div class="saves-div">
        <div class="saves-left"><a href="">What are the steps involved in determining type sizes within the data section of an mmdb file?</a></div>
        <div class="saves-right-div"><button class="delete-btn"><i class="bi bi-trash-fill"></i></button></div>
    </div>
</div>