<%- include('../../head.ejs') %>
<div class="wrapper users-wrapper">
    <%- include('../user-home-topnav.ejs') %>
    <div class="users-content">
        <%- include('../user-home-left.ejs') %>
    </div>
</div>
<%- include('../../end.ejs') %>