<div class="users-right">
    <div class="user-div">
        <div class="user-image-div"><img src="/assets/users-pic/labio.jpg" class="users-dp"></div>
        <div class="users-details">
            <h5 class="user-name">labeeb ct</h5>
            <h5 class="user-vote-count">789</h5>
            <div class="user-skill">HTML,CSS,EXPRESS</div>
        </div>
    </div>
</div>