<div class="wrapper-right">
    <div class="blog-1">
        <h5>The overflow Blog</h5>
        <div class="blog-para">
            <p><i class="bi bi-pencil-fill"></i>Self-healing code is the future of software development</p>
            <p><i class="bi bi-pencil-fill"></i>The hardest part of building software is not coding, it's requirements</p>
        </div>
        <h5>Featured on Meta</h5>
        <div class="blog-para2">
            <p><i class="bi bi-pencil-fill"></i>Self-healing code is the future of software development</p>
            <p><i class="bi bi-pencil-fill"></i>The hardest part of building software is not coding, it's requirements</p>
        </div>
    </div>

    <div class="blog-2">
        <h6>Custom Filters</h6>
        <div class="blog2-para">
         <a href="">Create a Custom filter</a>
       </div>
    </div>

    <div class="blog-3">
        <h6>Ignored Tags</h6>
        <div class="blog3-para">
         <button class="signup-btn">Add an ignored tag</button>
       </div>
    </div>
</div>