<div class="user-home-content">
    <%- include('../userHome/user-home-left.ejs') %>
    <%- include('../userHome/user-home-centre.ejs') %>
    <%- include('../userHome/user-home-right.ejs') %>
</div>