<nav>
    <div class="stack-logo"><img src="/assets/logos/Stack_Overflow_logo.png" class="nav-stack-logo"></div>
    <div class="product-text"><a class="product-text-span">Products</a></div>
    <div class="search-div"><div class="search-with-icon"><i class="bi bi-search"></i><input type="text" class="input-search" placeholder="Search..."></div></div>
    <div class="top-nav-right">
        <ul>
            <li><a href=""><img src="/assets/logos/google.png" class="user-img" alt="User-image"></a></li>
            <li class="inbox-li"><a href=""><i class="bi bi-inbox-fill"></i></a><span class="inbox-count">1</span></li>
            <li><a href=""><i class="bi bi-trophy-fill"></i></a></li>
            <li><a href=""><i class="bi bi-question-circle-fill"></i></a></li>
            <li><a href=""><i class="bi bi-chat-square-text-fill"></i></a></li>
        </ul>
    </div>
    <div class="logout-btn"><button class="nav-login-btn" onclick="window.location.href='/user/login'"><span class="Logout-text">Log out</span></button></div>
</nav>