<div class="wrapper-left">
    <div class="wrapper-left-sub">
    <ul>
        <li><a href="#"><i class="bi bi-house-door-fill"></i>Home</a></li>
        <li><a href="#"><i class="bi bi-patch-question-fill"></i>Questions</a></li>
        <li><a href="#"><i class="bi bi-tags-fill"></i>Tags</a></li>
        <li><a href="#"><i class="bi bi-bookmark-fill"></i>Saves</a></li>
        <li><a href="#"><i class="bi bi-people-fill"></i>Users</a></li>
        <li><a href="#"><i class="bi bi-briefcase-fill"></i>Companies</a></li>

        <!-- bottom li -->
    <div class="bottom-li">
        <li class="left-bottom-li"><a href="">COLLECTIVES<i class="bi bi-plus-lg"></i></a></li>
        <li><a href="">LABS<i class="bi bi-plus-lg"></i></a></li>
        <li><a href="">TEAMS<i class="bi bi-plus-lg"></i></a></li>
    </div>
        
    </ul>
  </div>
</div>